* {
  background-color: #0f0e17;
  /* background-color: #16161a; */
}

.details-container {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.details-hero {
  background-color: #21262D;
  color: white;
  width: 500px;
  min-height: 100px;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.details {
  background-color: #3E4247;
}

h6 {
  background-color: #21262D;
  color: #fffffe;
}

h4 {
  color: #fffffe;
}

span {
  color: #7f5af0;
  margin: 0.5rem;
}

.button-details {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #dc3545;
    background-color: transparent;
    border-color: #dc3545;
}

.button-details:hover {
  background-color: #dc3545;
  color: #fff;
  border-color: #fff;
}

@media (max-width: 450px) {
  .button-details {
    top: 0px;
    right: 0px;
  }
}

  .button-general {
background-color: #7f5af0;
margin: 0.5rem;
font-family: inherit;
overflow: visible;
text-transform: none;
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
color: #fffffe;
border-color: black;

}

.button-delete{
  background-color: #fa5246;
  margin: 0.5rem;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fffffe;
  border-color: black;

}

.span-detail {
  background-color: #fffffe;
  color: #2e2f3e;
}
/* .button-general {
background-color: #7f5af0;
margin: 0.5rem;
font-family: inherit;
overflow: visible;
text-transform: none;
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
color: #fffffe;
border-color: #7f5af0;

} */

.input {
  width: 30%;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input::placeholder { color: white; }

.images-login {
  height: 100vh;
  background-image: url('https://source.unsplash.com/1600x900/?architecture');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
